body {
    margin:200px;
    padding: 0px;
    box-sizing: content-box;
}
.container {
    width: 140px;
    height: 200px;
    border: 1 px solid
}
button {
    width: 30px;
    height: 30px;
}
form {
    width: 30px;
    height: 30px;
}