body {
    background-image: url(./image/thumb_l_psh_00006189.jpg);
    border: 100px;
    padding: 100px;
    user-select: none;
}
.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    border-radius: 10px;
    background-color:darkblue;
    padding: 4px;
    max-width: 360px;
    max-height: 360px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.element {
    background-color:darkcyan;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

form {
    max-width: 100%;
}
input {
    max-width: 100%;
    max-height: 60px;
    border: none;
    font-size: 30px;
}

.input {
    grid-column: 1/-1;
}

.clear {
    background-color: rgb(7, 99, 60);
}
.equal {
    background-color: rgb(7, 99, 60);
}

.signs {
    background-color: darkslategray;
}